<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cat.xojan.fittracker" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".FitTrackerApp">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBWSi7b9pptamEWucwpPp8YGQhqj9H_V5Y"/>

        <activity
            android:name=".ui.activity.StartUpActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.WorkoutActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name=".ui.activity.SessionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="vnd.google.fitness.VIEW" />
                <data android:mimeType="vnd.google.fitness.data_type/com.google.activity.segment" />
                <data android:mimeType="vnd.google.fitness.data_type/com.google.step_count.cumulative" />
                <data android:mimeType="vnd.google.fitness.data_type/com.google.step_count.delta" />
                <data android:mimeType="vnd.google.fitness.data_type/com.google.activity.summary" />
                <data android:mimeType="vnd.google.fitness.data_type/com.google.speed.summary" />
                <data android:mimeType="vnd.google.fitness.data_type/com.google.speed" />
                <data android:mimeType="vnd.google.fitness.data_type/com.google.location.sample" />
                <data android:mimeType="vnd.google.fitness.data_type/com.google.distance.delta" />
                <data android:mimeType="vnd.google.fitness.data_type/com.google.activity.sample" />
                <data android:mimeType="vnd.google.fitness.session/biking" />
                <data android:mimeType="vnd.google.fitness.session/running" />
                <data android:mimeType="vnd.google.fitness.session/walking" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.menu.PreferenceActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />

        <service android:name=".service.WearableListener">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <service android:name=".service.UtilityService"/>

    </application>

</manifest>
